<!-- 
página de edição em ASP:
http://discomercio.com.br/homologacao/orcamento/OrcamentoNovoProdCompostoMask.asp para escolher os producots
http://discomercio.com.br/homologacao/orcamento/OrcamentoNovoConsiste.asp para listar os produtos

 -->

<section [ngClass]="{'sectionDesktop': telaDesktop, 'sectionCelular': !telaDesktop}">
	<header *ngIf="!prePedidoDto" [ngClass]="{'carregando': carregandoDto || carregandoProds}">Carregando dados</header>
	<form style="display: contents;" *ngIf="prePedidoDto">
		<header>
			<ng-container *ngIf="criando; else tituloEditando">Criar Pré-pedido</ng-container>
			<ng-template #tituloEditando>Editar Pré-pedido</ng-template>
		</header>
		<article class="indicadorlinha">
			<div style="padding-bottom: 0.6em;"><strong>Cliente:</strong> {{cpfCnpj()}} -
				{{prePedidoDto.DadosCliente.Nome}}</div>

			<!--  RELAÇÃO DE PRODUTOS SEM PRESENÇA NO ESTOQUE 
				fazemos abaixo de cada um dos itens

				afazer: verificação de estoque
				<% if Not (erro_produto_indisponivel And bloquear_cadastramento_quando_produto_indiponivel) then %>
				neste caso, ele não permite criar o pré-pedido. Por enquanto, estamos mandando para o servidor.

			-->


			<div style="width: 100%; text-align: right; padding-bottom: 1em;">
				<div><a mat-raised-button (click)="adicionarProduto()">
						<mat-icon>add</mat-icon> Adicionar produto
					</a></div>
			</div>

			<!--  R E L A Ç Ã O   D E   P R O D U T O S  -->
			<!-- versão desktop -->
			<table class="tabelaitens destaquelinha" *ngIf="telaDesktop">
				<thead>

					<tr>
						<!-- //esepcifica para a tela de itens do pedido, largura do produto
							//3 ou 4 preços, o desconto e a quantidade
							//10+6+36 ou 10+6+48 = 52 ou 64
							.hproduto {
							  width: 100%;
							}
							 -->

						<th style="width: auto;" scope="col" align="left" valign="bottom"><span
								class="PLTe">Produto</span></th>

						<!-- esta coluna está oculta: $(".tdProdObs").hide(); 
						<th scope="col" class="MB tdProdObs" align="left" valign="bottom"><span class="PLTe">Observações</span></th> -->

						<th scope="col" class="hquantidade" align="right" valign="bottom"><span class="PLTd">Qtde</span>
						</th>
						<!-- <% if r_orcamentista_e_indicador.permite_RA_status = 1 then %> -->
						<th *ngIf="permite_RA_Status" scope="col" class="preco" align="right" valign="bottom"><span
								class="PLTd">Preço</span></th>
						<!-- <% end if %> -->
						<th scope="col" class="hpreco" align="right" valign="bottom"><span class="PLTd">VL Lista</span>
						</th>
						<th scope="col" class="hdesconto" align="right" valign="bottom"><span class="PLTd">Desc%
								&nbsp;&nbsp;</span></th>
						<th scope="col" class="hpreco" align="right" valign="bottom"><span class="PLTd">VL Venda</span>
						</th>
						<th scope="col" class="hpreco" align="right" valign="bottom"><span class="PLTd">VL Total</span>
						</th>
						<th scope="col" style="width: 2em;">
							<!-- excluir  -->
						</th>

					</tr>
				</thead>
				<tbody>

					<ng-container *ngFor="let i of prePedidoDto?.ListaProdutos">
						<tr>
							<td align="left" style="cursor: pointer;" (click)="mostrarProdutos(i)">
								{{i.Fabricante}}/{{i.NumProduto}} -
								<span [innerHTML]="i.Descricao"></span>
							</td>
							<!-- esta coluna está oculta: 
							$(".tdProdObs").hide(); 
                    <td class="MDB tdProdObs" align="left">
                        <% if isLojaHabilitadaProdCompostoECommerce(loja) then s_campo_focus="c_desc" else s_campo_focus="c_vl_unitario"%>
                        <input name="c_obs" id="c_obs" maxlength="10" class="PLLe" style="width:80px;"
                            onkeypress="if (digitou_enter(true)) <%if r_orcamentista_e_indicador.permite_RA_status = 1 then Response.Write "fORC.c_vl_NF" else Response.Write "fORC." & s_campo_focus%>[<%=Cstr(i-1)%>].focus(); filtra_nome_identificador();"
                            onblur="this.value=trim(this.value);" value='' <%=s_readonly%> />
					</td> -->

							<td align="right">
								<!-- <input name="c_qtde" id="c_qtde" class="PLLd" style="width:27px;" value='{{i.Qtde}}' /> -->
								<mat-form-field class="quantidade">
									<input matInput [ngModelOptions]="{standalone: true}" type="number" required
										[(ngModel)]="i.Qtde" (keyup)="digitouQte(i)" (change)="digitouQte(i)">
								</mat-form-field>
							</td>
							<td *ngIf="permite_RA_Status" align="right">
								<!-- <input name="c_vl_NF" id="c_vl_NF" class="PLLd" style="width:62px;" value='{{i.Preco}}' /> -->
								<mat-form-field class="preco">
									<input matInput type="text" required
										[value]="moedaUtils.formatarMoedaSemPrefixo(i.Preco)"
										(change)="digitouPreco($event,i)" (keyup)="digitouPreco($event,i)">
								</mat-form-field>
							</td>

							<td align="right">
								{{moedaUtils.formatarMoedaSemPrefixo(i.VlLista)}}
							</td>


							<!-- no original somente isLojaHabilitadaProdCompostoECommerce podia digitar o desconto, 
						mas todo mundo podia digitar o c_vl_unitario
						mudamos para deixar todo mundo digitar o desconto -->
							<td align="right">
								<!-- <input name="c_desc" id="c_desc" class="PLLd" style="width:36px;" value="{{i.Desconto}}" /> -->
								<mat-form-field class="desconto">
									<input matInput type="text"
										[value]="moedaUtils.formatarPorcentagemUmaCasa(i.Desconto)"
										(change)="digitouDesc($event,i)" (keyup)="digitouDesc($event,i)">
								</mat-form-field>%
							</td>
							<td align="right">
								<!-- <input name="c_vl_unitario" id="c_vl_unitario" class="PLLd" style="width:62px;"
								value='{{i.VlUnitario}}' /> -->
								<mat-form-field class="preco">
									<input matInput type="text" required
										[value]="moedaUtils.formatarMoedaSemPrefixo(i.VlUnitario)"
										(change)="digitouVlVenda($event,i)" (keyup)="digitouVlVenda($event,i)">
								</mat-form-field>
							</td>


							<td align="right">
								<!-- input name="c_vl_total" id="c_vl_total" class="PLLd" style="width:70px;" -->
								{{moedaUtils.formatarMoedaSemPrefixo(i.TotalItem)}}
							</td>

							<td style="padding: 0; min-width: auto; max-width: 32px;">
								<button mat-button (click)="removerLinha(i)"
									style="padding: 0; min-width: auto; max-width: 32px;">
									<mat-icon style="padding: 0;" title="Remover linha">delete</mat-icon>
								</button>
							</td>
						</tr>
						<tr *ngIf="estoqueExcedido(i)">
							<td colspan="7" class="avisoestoque" *ngIf="!permite_RA_Status">
								Quantidade solicitada é maior que o estoque de {{estoqueExistente(i)}}
							</td>
							<td colspan="8" class="avisoestoque" *ngIf="permite_RA_Status">
								Quantidade solicitada é maior que o estoque de {{estoqueExistente(i)}}
							</td>
						</tr>
						<tr *ngIf="produtoTemAviso(i)">
							<td colspan="7" class="avisoestoque" *ngIf="!permite_RA_Status">
								Aviso: {{produtoMsgAviso(i)}}
							</td>
							<td colspan="8" class="avisoestoque" *ngIf="permite_RA_Status">
								Aviso: {{produtoMsgAviso(i)}}
							</td>
						</tr>
					</ng-container>

					<!-- parte de baixo da tabela -->
					<tr>
						<!-- pula as colunas vazias -->
						<td> </td>
						<td> </td>
						<td *ngIf="permite_RA_Status">
							<strong>{{moedaUtils.formatarMoedaSemPrefixo(totalPedidoRA())}}</strong>
						</td>
						<td> </td>
						<td> </td>
						<td> </td>

						<td align="right">
							<strong>{{moedaUtils.formatarMoedaSemPrefixo(totalPedido())}}</strong>
						</td>
						<td> </td>


					</tr>

				</tbody>

			</table>

			<!--  R E L A Ç Ã O   D E   P R O D U T O S  -->
			<!-- versão celular -->
			<div *ngIf="!telaDesktop" >
				<div *ngFor="let i of prePedidoDto?.ListaProdutos" class="caixacel ">
					<!-- sempre uma linha inteira -->
					<div style="cursor: pointer; padding-bottom: 1em; text-align: center" (click)="mostrarProdutos(i)">
						Produto
						{{i.Fabricante}}/{{i.NumProduto}} -
						<span [innerHTML]="i.Descricao"></span>
					</div>

					<div style="display: flex; justify-content: space-around;">
						<span>
							<mat-form-field class="quantidade" style="width: 5em">
								<input matInput [ngModelOptions]="{standalone: true}" type="number" required
									[(ngModel)]="i.Qtde" (keyup)="digitouQte(i)" (change)="digitouQte(i)"
									placeholder="Quantidade">
							</mat-form-field>
						</span>
						<span *ngIf="permite_RA_Status">
							<!-- <input name="c_vl_NF" id="c_vl_NF" class="PLLd" style="width:62px;" value='{{i.Preco}}' /> -->
							<mat-form-field class="preco">
								<input matInput type="text" required
									[value]="moedaUtils.formatarMoedaSemPrefixo(i.Preco)"
									(change)="digitouPreco($event,i)" (keyup)="digitouPreco($event,i)"
									placeholder="Preço">
							</mat-form-field>
						</span>

						<span>
							<mat-form-field class="desconto">
								<input matInput type="text" [value]="moedaUtils.formatarPorcentagemUmaCasa(i.Desconto)"
									(change)="digitouDesc($event,i)" (keyup)="digitouDesc($event,i)"
									placeholder="Desconto">
							</mat-form-field>%
						</span>
						<span>
							<mat-form-field class="preco">
								<input matInput type="text" required
									[value]="moedaUtils.formatarMoedaSemPrefixo(i.VlUnitario)"
									(change)="digitouVlVenda($event,i)" (keyup)="digitouVlVenda($event,i)"
									placeholder="VL Venda">
							</mat-form-field>
						</span>
					</div>
					<div style="display: flex; justify-content: space-around; align-items: center;">
						<span>
							VL Lista: {{moedaUtils.formatarMoedaSemPrefixo(i.VlLista)}}
						</span>

						<span>VL Total:
							{{moedaUtils.formatarMoedaSemPrefixo(i.TotalItem)}}
						</span>

						<span>
							<button mat-button (click)="removerLinha(i)"
								style="padding: 0; min-width: auto; max-width: 32px;">
								<mat-icon style="padding: 0;" title="Remover linha">delete</mat-icon>
							</button>
						</span>
					</div>
					<!-- mensagem de estoque em linha separada -->
					<div *ngIf="estoqueExcedido(i)" class="avisoestoque" style="padding-top: 1em">
						Quantidade solicitada é maior que o estoque de {{estoqueExistente(i)}}
					</div>
					<!-- aviso é em linha separada -->
					<div *ngIf="produtoTemAviso(i)" class="avisoestoque" style="padding-top: 1em">
						Aviso: {{produtoMsgAviso(i)}}
					</div>
				</div>

			</div>
			<div *ngIf="!telaDesktop">
				<!-- parte de baixo da tabela -->
				<!-- fazemos fora do div principal pq não queremos o destaque de linha aqui -->
				<div style="text-align: right; padding-right: 1em;">
					<span *ngIf="permite_RA_Status">
						<strong>Preço total: {{moedaUtils.formatarMoedaSemPrefixo(totalPedidoRA())}}</strong>
					</span>
					<span>
						<strong>Total do pedido: {{moedaUtils.formatarMoedaSemPrefixo(totalPedido())}}</strong>
					</span>
				</div>
			</div>

		</article>
		<footer>
			<a mat-raised-button color="accent" (click)="voltar()">
				<mat-icon>arrow_back</mat-icon> Voltar
			</a>
			<button mat-raised-button color="accent" (click)="continuar()" type="submit">
				<mat-icon>arrow_forward</mat-icon> Avançar
			</button>
		</footer>
	</form>
</section>

<!-- 
afazer: isto aqui vai ser em outra tela

	
!--  NOVA VERSÃO DA FORMA DE PAGAMENTO  --
<br>
<table class="Q" style="width:649px;" cellspacing="0">
  <tr>
	<td align="left">
	  <p class="Rf">Forma de Pagamento</p>
	</td>
  </tr>  
  <tr>
	<td align="left">
	  <table width="100%" cellspacing="0" cellpadding="4" border="0">
		!--  À VISTA  --
		<tr>
		  <td align="left">
			<table cellspacing="0" cellpadding="1" border="0">
			  <tr>
				<td align="left">
				  <% intIdx = 0 %>
				  <input type="radio" id="rb_forma_pagto" name="rb_forma_pagto" 
						value="<%=COD_FORMA_PAGTO_A_VISTA%>"
						<%if c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__A_VISTA then Response.Write " checked"%>
						onclick="recalculaCustoFinanceiroPrecoLista();"
						><span class="C" style="cursor:default" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">À Vista</span>
				</td>
				<td align="left">&nbsp;</td>
				<td align="left">
				  <select id="op_av_forma_pagto" name="op_av_forma_pagto" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">
					<% =forma_pagto_liberada_av_monta_itens_select(Null, r_orcamentista_e_indicador.apelido, r_cliente.tipo) %>
				  </select>
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
		!--  PARCELA ÚNICA  --
		<tr class="TR_FP_PU">
		  <td class="MC" align="left">
			<table cellspacing="0" cellpadding="1" border="0">
			  <tr>
				<td align="left">
				  <% intIdx = intIdx+1 %>
				  <input type="radio" id="rb_forma_pagto" name="rb_forma_pagto" 
						value="<%=COD_FORMA_PAGTO_PARCELA_UNICA%>" 
						<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__SEM_ENTRADA) And _
							 (converte_numero(c_custoFinancFornecQtdeParcelas)=1) then Response.Write " checked"%>
						onclick="recalculaCustoFinanceiroPrecoLista();pu_atualiza_valor();"
						><span class="C" style="cursor:default" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">Parcela Única</span>
				</td>
				<td align="left">&nbsp;</td>
				<td align="left">
				  <select id="op_pu_forma_pagto" name="op_pu_forma_pagto" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">
					<% =forma_pagto_liberada_da_parcela_unica_monta_itens_select(Null, r_orcamentista_e_indicador.apelido, r_cliente.tipo) %>
				  </select>
				  <span style="width:10px;">&nbsp;</span>
				  <span class="C" style="margin-right:0pt;"><%=SIMBOLO_MONETARIO%></span
				  ><input name="c_pu_valor" id="c_pu_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pu_vencto_apos.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value);" value=''
				  ><span style="width:10px;">&nbsp;</span
				  ><span class="C">vencendo após</span
				  ><input name="c_pu_vencto_apos" id="c_pu_vencto_apos" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_forma_pagto.focus(); filtra_numerico();" value=''
				  ><span class="C">dias</span>
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
		!--  PARCELADO NO CARTÃO (INTERNET)  --
		<% if is_restricao_ativa_forma_pagto(r_orcamentista_e_indicador.apelido, ID_FORMA_PAGTO_CARTAO, r_cliente.tipo) then%>
		<tr style="display:none;">
		<% else %>
		<tr>
		<% end if %>
		  <td class="MC" align="left">
			<table cellspacing="0" cellpadding="1" border="0">
			  <tr>
				<td align="left">
				  <% intIdx = intIdx+1 %>
				  <input type="radio" id="rb_forma_pagto" name="rb_forma_pagto" 
						value="<%=COD_FORMA_PAGTO_PARCELADO_CARTAO%>"
						onclick="recalculaCustoFinanceiroPrecoLista();"
						><span class="C" style="cursor:default" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">Parcelado no Cartão (internet)</span>
				</td>
				<td align="left">&nbsp;</td>
				<td align="left">
				  <input name="c_pc_qtde" id="c_pc_qtde" class="Cc" maxlength="2" style="width:30px;"  onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pc_valor.focus(); filtra_numerico();" onblur="pc_calcula_valor_parcela();recalculaCustoFinanceiroPrecoLista();" value=''>
				</td>
				<td align="left"><span class="C" style="margin-right:0pt;">&nbsp;X&nbsp;&nbsp;&nbsp;<%=SIMBOLO_MONETARIO%></span></td>
				<td align="left">
				  <input name="c_pc_valor" id="c_pc_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_forma_pagto.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value);" value=''>
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
		!--  PARCELADO NO CARTÃO (MAQUINETA)  --
		<% if is_restricao_ativa_forma_pagto(r_orcamentista_e_indicador.apelido, ID_FORMA_PAGTO_CARTAO_MAQUINETA, r_cliente.tipo) then%>
		<tr style="display:none;">
		<% else %>
		<tr>
		<% end if %>
		  <td class="MC" align="left">
			<table cellspacing="0" cellpadding="1" border="0">
			  <tr>
				<td align="left">
				  <% intIdx = intIdx+1 %>
				  <input type="radio" id="rb_forma_pagto" name="rb_forma_pagto" 
						value="<%=COD_FORMA_PAGTO_PARCELADO_CARTAO_MAQUINETA%>"
						onclick="recalculaCustoFinanceiroPrecoLista();"
						><span class="C" style="cursor:default" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">Parcelado no Cartão (maquineta)</span>
				</td>
				<td align="left">&nbsp;</td>
				<td align="left">
				  <input name="c_pc_maquineta_qtde" id="c_pc_maquineta_qtde" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pc_maquineta_valor.focus(); filtra_numerico();" onblur="pc_maquineta_calcula_valor_parcela();recalculaCustoFinanceiroPrecoLista();" value=''>
				</td>
				<td align="left"><span class="C" style="margin-right:0pt;">&nbsp;X&nbsp;&nbsp;&nbsp;<%=SIMBOLO_MONETARIO%></span></td>
				<td align="left">
				  <input name="c_pc_maquineta_valor" id="c_pc_maquineta_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_forma_pagto.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value);" value=''>
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
		!--  PARCELADO COM ENTRADA  --
		<tr>
		  <td class="MC" align="left">
			<table cellspacing="0" cellpadding="1" border="0">
			  <tr>
				<td colspan="3" align="left">
				  <% intIdx = intIdx+1 %>
				  <input type="radio" id="rb_forma_pagto" name="rb_forma_pagto" 
						value="<%=COD_FORMA_PAGTO_PARCELADO_COM_ENTRADA%>" 
						<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__COM_ENTRADA) then Response.Write " checked"%>
						onclick="recalculaCustoFinanceiroPrecoLista();pce_preenche_sugestao_intervalo();"
						><span class="C" style="cursor:default" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">Parcelado com Entrada</span>
				</td>
			  </tr>
			  <tr>
				<td style="width:60px;" align="left">&nbsp;</td>
				<td align="right"><span class="C">Entrada&nbsp;</span></td>
				<td align="left">
				  <select id="op_pce_entrada_forma_pagto" name="op_pce_entrada_forma_pagto" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">
					<% =forma_pagto_liberada_da_entrada_monta_itens_select(Null, r_orcamentista_e_indicador.apelido, r_cliente.tipo) %>
				  </select>
				  <span style="width:10px;">&nbsp;</span>
				  <span class="C" style="margin-right:0pt;"><%=SIMBOLO_MONETARIO%></span
				  ><input name="c_pce_entrada_valor" id="c_pce_entrada_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.op_pce_prestacao_forma_pagto.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value);" value=''>
				</td>
			  </tr>
			  <tr>
				<td style="width:60px;" align="left">&nbsp;</td>
				<td align="right"><span class="C">Prestações&nbsp;</span></td>
				<td align="left">
				  <select id="op_pce_prestacao_forma_pagto" name="op_pce_prestacao_forma_pagto" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">
					<% =forma_pagto_liberada_da_prestacao_monta_itens_select(Null, r_orcamentista_e_indicador.apelido, r_cliente.tipo) %>
				  </select>
				  <span style="width:10px;">&nbsp;</span>
				  <input name="c_pce_prestacao_qtde" id="c_pce_prestacao_qtde" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onblur="recalculaCustoFinanceiroPrecoLista();pce_calcula_valor_parcela();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pce_prestacao_valor.focus(); filtra_numerico();" 
						value='<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__COM_ENTRADA) then Response.Write c_custoFinancFornecQtdeParcelas%>'
						>
				  <span class="C" style="margin-right:0pt;">&nbsp;X&nbsp;&nbsp;&nbsp;<%=SIMBOLO_MONETARIO%></span
				  ><input name="c_pce_prestacao_valor" id="c_pce_prestacao_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pce_prestacao_periodo.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value);" value=''>
				</td>
			  </tr>
			  <tr>
				<td style="width:60px;" align="left">&nbsp;</td>
				<td colspan="2" align="left"><span class="C">Parcelas vencendo a cada</span
				><input name="c_pce_prestacao_periodo" id="c_pce_prestacao_periodo" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_forma_pagto.focus(); filtra_numerico();" 
						value='<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__COM_ENTRADA) then Response.Write "30"%>'
				><span class="C">dias</span
				><span style="width:10px;">&nbsp;</span
				><span class="notPrint"><input name="b_pce_SugereFormaPagto" id="b_pce_SugereFormaPagto" type="button" class="Button" onclick="pce_sugestao_forma_pagto();" value="sugestão automática" title="preenche o campo 'Forma de Pagamento' com uma sugestão de texto"></span
				></td>
			  </tr>
			</table>
		  </td>
		</tr>
		!--  PARCELADO SEM ENTRADA  --
		<tr class="TR_FP_PSE">
		  <td class="MC" align="left">
			<table cellspacing="0" cellpadding="1" border="0">
			  <tr>
				<td colspan="3" align="left">
				  <% intIdx = intIdx+1 %>
				  <input type="radio" id="rb_forma_pagto" name="rb_forma_pagto" 
						value="<%=COD_FORMA_PAGTO_PARCELADO_SEM_ENTRADA%>" 
						<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__SEM_ENTRADA) And _
							 (converte_numero(c_custoFinancFornecQtdeParcelas)>1) then Response.Write " checked"%>
						onclick="pse_preenche_sugestao_intervalo();recalculaCustoFinanceiroPrecoLista();"
						><span class="C" style="cursor:default" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">Parcelado sem Entrada</span>
				</td>
			  </tr>
			  <tr>
				<td style="width:60px;" align="left">&nbsp;</td>
				<td align="right"><span class="C">1ª Prestação&nbsp;</span></td>
				<td align="left">
				  <select id="op_pse_prim_prest_forma_pagto" name="op_pse_prim_prest_forma_pagto" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">
					<% =forma_pagto_liberada_da_prestacao_monta_itens_select(Null, r_orcamentista_e_indicador.apelido, r_cliente.tipo) %>
				  </select>
				  <span style="width:10px;">&nbsp;</span>
				  <span class="C" style="margin-right:0pt;"><%=SIMBOLO_MONETARIO%></span
				  ><input name="c_pse_prim_prest_valor" id="c_pse_prim_prest_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pse_prim_prest_apos.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value); pse_calcula_valor_parcela();" value=''
				  ><span style="width:10px;">&nbsp;</span
				  ><span class="C">vencendo após</span
				  ><input name="c_pse_prim_prest_apos" id="c_pse_prim_prest_apos" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.op_pse_demais_prest_forma_pagto.focus(); filtra_numerico();" value=''
				  ><span class="C">dias</span>
				</td>
			  </tr>
			  <tr>
				<td style="width:60px;" align="left">&nbsp;</td>
				<td align="right"><span class="C">Demais Prestações&nbsp;</span></td>
				<td align="left">
				  <select id="op_pse_demais_prest_forma_pagto" name="op_pse_demais_prest_forma_pagto" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();">
					<% =forma_pagto_liberada_da_prestacao_monta_itens_select(Null, r_orcamentista_e_indicador.apelido, r_cliente.tipo) %>
				  </select>
				  <span style="width:10px;">&nbsp;</span>
				  <input name="c_pse_demais_prest_qtde" id="c_pse_demais_prest_qtde" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onblur="pse_calcula_valor_parcela();recalculaCustoFinanceiroPrecoLista();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pse_demais_prest_valor.focus(); filtra_numerico();" 
						value='<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__SEM_ENTRADA) And (converte_numero(c_custoFinancFornecQtdeParcelas)>1) then Response.Write Cstr(converte_numero(c_custoFinancFornecQtdeParcelas)-1)%>'
						>
				  <span class="C" style="margin-right:0pt;">&nbsp;X&nbsp;&nbsp;&nbsp;<%=SIMBOLO_MONETARIO%></span
				  ><input name="c_pse_demais_prest_valor" id="c_pse_demais_prest_valor" class="Cd" maxlength="18" style="width:90px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_pse_demais_prest_periodo.focus(); filtra_moeda_positivo();" onblur="this.value=formata_moeda(this.value); " value=''>
				</td>
			  </tr>
			  <tr>
				<td style="width:60px;" align="left">&nbsp;</td>
				<td colspan="2" align="left"><span class="C">Parcelas vencendo a cada</span
				><input name="c_pse_demais_prest_periodo" id="c_pse_demais_prest_periodo" class="Cc" maxlength="2" style="width:30px;" onclick="fORC.rb_forma_pagto[<%=Cstr(intIdx)%>].click();" onkeypress="if (digitou_enter(true)&&tem_info(this.value)) fORC.c_forma_pagto.focus(); filtra_numerico();" 
						value='<%if (c_custoFinancFornecTipoParcelamento=COD_CUSTO_FINANC_FORNEC_TIPO_PARCELAMENTO__SEM_ENTRADA) And (converte_numero(c_custoFinancFornecQtdeParcelas)>1) then Response.Write "30"%>'
				><span class="C">dias</span
				><span style="width:10px;">&nbsp;</span
				><span class="notPrint"><input name="b_pse_SugereFormaPagto" id="b_pse_SugereFormaPagto" type="BUTTON" class="Button" onclick="pse_sugestao_forma_pagto();" value="sugestão automática" title="preenche o campo 'Forma de Pagamento' com uma sugestão de texto"></span
				></td>
			  </tr>
			</table>
		  </td>
		</tr>
	  </table>
	</td>
  </tr>
  <tr>
	<td class="MC" align="left">
	  <p class="Rf">Descrição da Forma de Pagamento</p>
		<textarea name="c_forma_pagto" id="c_forma_pagto" class="PLLe" rows="<%=Cstr(MAX_LINHAS_FORMA_PAGTO)%>"
			style="width:641px;margin-left:2pt;" onkeypress="limita_tamanho(this,MAX_TAM_FORMA_PAGTO);" onblur="this.value=trim(this.value);"
			></textarea>
	</td>
  </tr>
</table> -->

<!-- afazer: validações, verificar na pagina asp 
http://discomercio.com.br/homologacao/orcamento/OrcamentoNovoProdCompostoMask.asp para escolher os producots
http://discomercio.com.br/homologacao/orcamento/OrcamentoNovoConsiste.asp para listar os produtos -->