@{
    ViewData["Title"] = "Login";
}


<br />
<br />
<br />
<br />
<br />
<div>
    Login efetuado.
    <br />
    <br />
    <span class="red-text">
        AVISO:
    </span>
    <br />
    A sessão anterior não foi encerrada corretamente.<br />
    Para segurança da sua identidade, <i>sempre</i> encerre a sessão clicando no link <i>'LOGOUT'</i>.
    <br />Esta ocorrência será gravada no histórico de auditoria.

    <br />
    <br />
    <a href="@Url.Action("Index", "Home")">Voltar para home</a>

</div>
