################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.sonarqube
/.ionide

/Global/MeioPagamentos/bin
/Global/MeioPagamentos/obj
/Global/Utils/bin
/Global/Utils/obj
/Global/Especificacao/bin
/Global/Especificacao/obj
/Global/ClassesBase/bin
/Global/ClassesBase/obj

/Loja/Loja.Data/bin
/Loja/Loja.Data/obj
/PrepedidoApi/Testes.Automatizados.Resultados
/OrcamentoCotacaoApi/OrcamentoCotacaoApi/bin
/OrcamentoCotacaoApi/OrcamentoCotacaoApi/obj
/ProdutoCatalogo/bin
/ProdutoCatalogo/obj
/Vendedor/bin
/Vendedor/obj
/Cliente/bin
/Cliente/obj
/Cliente/bin
/Cliente/obj
/Especificacao/bin
/Especificacao/obj
/OrcamentoCotacaoData/bin
/OrcamentoCotacaoData/obj

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
