################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/PrepedidoApi/Testes.Automatizados.Resultados
/.sonarqube

/OrcamentoCotacaoApi/OrcamentoCotacaoApi/bin
/OrcamentoCotacaoApi/OrcamentoCotacaoApi/obj
/ClassesBase/bin
/ClassesBase/obj
/ProdutoCatalogo/bin
/ProdutoCatalogo/obj
/Vendedor/bin
/Vendedor/obj
/Global/MeioPagamentos/bin
/Global/MeioPagamentos/obj
/MeioPagamentos/bin
/MeioPagamentos/obj
