################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/PrepedidoApi/Testes.Automatizados.Resultados
/.sonarqube

/OrcamentoCotacaoApi/OrcamentoCotacaoApi/obj/Debug/netcoreapp3.1
/OrcamentoCotacaoApi/OrcamentoCotacaoApi/obj
/ClassesBase/bin
/ClassesBase/obj
/ProdutoCatalogo/bin/Debug/netcoreapp3.1
/ProdutoCatalogo/obj
