:host{
    .corpohome
    {
        padding: 2em;
    }

    .corpohomeDesktop
    {
        text-align:left;
    }

    .corpohomeCelular
    {
        text-align:center;
    }


    .containerDesktop
    {
        text-align: left;
    }
    .containerCelular
    {
        text-align: center;
    }

    .campoTexto{
        height: 3em;
        line-height: 1em;
        padding: 1em;
    }
 
    .divCampos
    {
        margin:.5rem;
    }


}