<div [class]="telaDesktop? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
    <div *ngIf="emPrepedidos" class="titulopagina"> Consultar Pré Pedidos </div>
    <div *ngIf="!emPrepedidos" class="titulopagina"> Consultar Pedidos </div>

    <form #loginForm="ngForm" class="container" [class]="telaDesktop? 'containerDesktop': 'containerCelular'"
        (ngSubmit)="buscar()">
        <div class="container divCampos" [class]="telaDesktop? 'containerDesktop': 'containerCelular'"
            fxLayout="row wrap" fxLayout="column" fxLayout.gt-sm="row">
            <div class="item item-1">
                <mat-form-field class="campoTexto">
                    <input *ngIf="emPrepedidos" matInput type="text" placeholder="CPF ou CNPJ do cliente"
                        [(ngModel)]="prepedidoBuscaService.paramsBuscaPrepedido.clienteBusca" name="clienteBusca"
                        list="dlclienteBusca1">
                    <input *ngIf="!emPrepedidos" matInput type="text" placeholder="CPF ou CNPJ do cliente"
                        [(ngModel)]="pedidoBuscaService.paramsBuscaPedido.clienteBusca" name="clienteBusca"
                        list="dlclienteBusca2">
                    <datalist *ngIf="emPrepedidos" id="dlclienteBusca1">
                        <option *ngFor="let option of optionsPrepedidoClienteBusca$|async" [value]="option">
                    </datalist>
                    <datalist *ngIf="!emPrepedidos" id="dlclienteBusca2">
                        <option *ngFor="let option of optionsPedidoClienteBusca$|async" [value]="option">
                    </datalist>
                </mat-form-field>
            </div>
            <div class="item item-3">
                <mat-form-field class="campoTexto">
                    <input *ngIf="emPrepedidos" matInput type="text" placeholder="Número Pré Pedido"
                        [(ngModel)]="prepedidoBuscaService.paramsBuscaPrepedido.numeroPrePedido"
                        name="numeroPrePedidoBusca" list="dlnumpedidoBUsca1">
                    <input *ngIf="!emPrepedidos" matInput type="text" placeholder="Número Pedido"
                        [(ngModel)]="pedidoBuscaService.paramsBuscaPedido.numeroPedido" name="numeroPrePedidoBusca"
                        list="dlnumpedidoBUsca2">
                </mat-form-field>
                <datalist *ngIf="emPrepedidos" id="dlnumpedidoBUsca1">
                    <option *ngFor="let option of optionsPrepedidoNumeroPrePedidoBusca$|async" [value]="option">
                </datalist>
                <datalist *ngIf="!emPrepedidos" id="dlnumpedidoBUsca2">
                    <option *ngFor="let option of optionsPedidoNumeroPrePedidoBusca$|async" [value]="option">
                </datalist>
            </div>

            <div class="item item-3">
                <mat-form-field class="campoTexto">
                    <input *ngIf="emPrepedidos" matInput type="date" placeholder="Período de"
                        [(ngModel)]="prepedidoBuscaService.paramsBuscaPrepedido.dataInicial" name="dataInicial">
                    <input *ngIf="!emPrepedidos" matInput type="date" placeholder="Período de"
                        [(ngModel)]="pedidoBuscaService.paramsBuscaPedido.dataInicial" name="dataInicial">
                </mat-form-field>
            </div>
            <div class="item item-4">
                <mat-form-field class="campoTexto">
                    <input *ngIf="emPrepedidos" matInput type="date" placeholder="até"
                        [(ngModel)]="prepedidoBuscaService.paramsBuscaPrepedido.dataFinal" name="dataFinal">
                    <input *ngIf="!emPrepedidos" matInput type="date" placeholder="até"
                        [(ngModel)]="pedidoBuscaService.paramsBuscaPedido.dataFinal" name="dataFinal">
                </mat-form-field>
            </div>
        </div>

        <div class="container divCampos" [class]="telaDesktop? 'containerDesktop': 'containerCelular'"
            fxLayout="row wrap" fxLayout="column" fxLayout.gt-sm="row">
            <div *ngIf="emPrepedidos" class="item item-4">
                <mat-checkbox class="campoTexto"
                    [(ngModel)]="prepedidoBuscaService.paramsBuscaPrepedido.tipoBuscaAndamento"
                    name="tipoBuscaAndamento">Pré
                    Pedidos
                    em andamento
                </mat-checkbox>
            </div>
            <div *ngIf="emPrepedidos" class="item item-4">
                <mat-checkbox class="campoTexto"
                    [(ngModel)]="prepedidoBuscaService.paramsBuscaPrepedido.tipoBuscaPedido" name="tipoBuscaPedido">Pré
                    Pedidos
                    que
                    viraram pedidos
                </mat-checkbox>
                <br>
                <br>
            </div>

            <div *ngIf="!emPrepedidos" class="item item-4">
                <mat-checkbox class="campoTexto" [(ngModel)]="pedidoBuscaService.paramsBuscaPedido.tipoBuscaEncerrado"
                    name="tipoBuscaEncerrado">
                    Pedidos
                    encerrados
                </mat-checkbox>
            </div>
            <div *ngIf="!emPrepedidos" class="item item-4">
                <mat-checkbox class="campoTexto" [(ngModel)]="pedidoBuscaService.paramsBuscaPedido.tipoBuscaEmAndamento"
                    name="tipoBuscaEmAndamento">Pedidos
                    em andamento
                </mat-checkbox>
                <br>
                <br>
            </div>

            <div class="item item-4" style="float: right;">
                <button mat-raised-button color="accent" type="submit">
                    <mat-icon>search</mat-icon> Pesquisar
                </button>
            </div>
        </div>
    </form>
</div>