@model Loja.UI.Models.Cliente.ClienteCadastroViewModel
<!-- #region PermiteEdição -->
@if (Model.PermiteEdicao)
{
    <div class="row">
        <div class="col-xl-12">
            <label for="nome">Nome</label>
            <input type="text" class="form-control"
                   name="DadosCliente.Nome"
                   id="nome"
                   onblur="VerificaCampo($(this));"
                   placeholder="NOME"
                   value="@Model.DadosCliente?.Nome">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 ">
            <label class="col-form-label" for="cpf_cnpj">CPF</label>
            <input class="form-control" name="DadosCliente.Cnpj_Cpf" id="cpf_cnpj" type="text" value="@Model.DadosCliente?.Cnpj_Cpf" />
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <label class="col-form-label" for="rg">RG</label>
            <input class="form-control" name="DadosCliente.Rg" id="rg" type="text" value="@Model.DadosCliente?.Rg" />
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <label class="col-form-label" for="nascimento">NASCIMENTO</label>
            <input class="form-control" name="DadosCliente.Nascimento" id="nascimento" type="date" onblur="AjustaData($(this))"
                   value="@Model.DadosCliente?.Nascimento?.ToString("dd/MM/yyyy")" />
        </div>
        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
            <label class="col-form-label" for="sexo">SEXO</label>
            <select asp-for="DadosCliente.Sexo" asp-items="Model.LstSexo"
                    id="sexo" class="custom-select"></select>
        </div>
    </div>
}
<!--#endregion-->
<!--#region Não Permite Edição-->
<!--#endregion-->

<script>
    requirejs(["Views/Cliente/PF/DadosClientePF"], function (util) {

    });
</script>