<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\ArClube\OrcamentoCotacao\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="logcompleto" fileName="c:\temp\ArClube\OrcamentoCotacao\log\${shortdate}.log"
            layout="------------------------------------------------------------------------${newline}${longdate}
${newline}${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"
            maxArchiveFiles="100"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1024000"
            />

    <!--
    Tiramos todos os campos com o nome Senha
    -->
    <target xsi:type="File" name="logrequisicao" fileName="c:\temp\ArClube\OrcamentoCotacao\log\${shortdate}.log"
            layout="------------------------------------------------------------------------${newline}${longdate}
${newline}Host: ${aspnet-request-host} 
${newline}IP: ${aspnet-request-ip}
${newline}URL: ${aspnet-request-url}
${newline}Requisicao: ${replace:searchFor=&quot;Senha&quot;\:&quot;[^&quot;]*&quot;:wholeWords=false:replaceWith=&quot;Senha&quot;\:&quot;XXX&quot;:ignoreCase=true:regex=true:inner=${aspnet-request-posted-body}}
${newline}Method: ${aspnet-request-method}
${newline}Querystring: ${aspnet-request-querystring} 
${newline}Useragent: ${aspnet-request-useragent} 
${newline}${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"
            maxArchiveFiles="100"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1024000"
            />


    <!--
    Tiramos todos os campos com o nome Senha (nos erros)
    -->
    <target xsi:type="File" name="erros" fileName="c:\temp\ArClube\OrcamentoCotacao\erros\${shortdate}.log"
            layout="------------------------------------------------------------------------${newline}${longdate}
${newline}Host: ${aspnet-request-host} 
${newline}IP: ${aspnet-request-ip}
${newline}URL: ${aspnet-request-url}
${newline}Requisicao: ${replace:searchFor=&quot;Senha&quot;\:&quot;[^&quot;]*&quot;:wholeWords=false:replaceWith=&quot;Senha&quot;\:&quot;XXX&quot;:ignoreCase=true:regex=true:inner=${aspnet-request-posted-body}}
${newline}Method: ${aspnet-request-method}
${newline}Querystring: ${aspnet-request-querystring} 
${newline}Useragent: ${aspnet-request-useragent} 
${newline}${newline}Erro:${newline}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"
            maxArchiveFiles="100"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1024000"
            />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Trace" writeTo="logrequisicao" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logcompleto" />

    <!--logs que não queremos nos erros-->
    <logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker" minlevel="Trace" final="true" />
    <logger name="Microsoft.AspNetCore.Mvc.ModelBinding.*" minlevel="Debug" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Query" minlevel="Debug" final="true" />
    <logger name="Microsoft.AspNetCore.Mvc.Infrastructure.DefaultOutputFormatterSelector" minlevel="Debug" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Model.Validation" minlevel="Debug" final="true" />
    <logger name="Microsoft.AspNetCore.DataProtection.Repositories.EphemeralXmlRepository" minlevel="Warn" final="true" />
    <logger name="Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager" minlevel="Warn" final="true" />

    <!--agora grava nos erros-->
    <logger name="*" minlevel="Info" writeTo="erros" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
  </rules>
</nlog>