:host{
    .campoTextoDesktop {
        height: 3em;
        line-height: 1em;
        padding: 1em;
      }
      .campoTextoCel {
        height: 3em;
        line-height: 1em;
        padding: 0;
        width: 100%;
        margin-top: 2em;
      }
      
      
}
.tabela_endereco{
        margin-left: 0%;
}