<section [ngClass]="{'sectionDesktop': telaDesktop, 'sectionCelular': !telaDesktop}">

    <header style="margin-left: -10px;">Busca de CEP</header>
    <article mat-dialog-content class="fixo" [ngClass]="{'carregando': carregando}">

        <form>
            <div *ngIf="telaDesktop">
                <mat-form-field style="width: 5em">
                    <mat-label>UF</mat-label>
                    <mat-select [(ngModel)]="uf" [ngModelOptions]="{standalone: true}">
                        <mat-option value="">Selecione</mat-option>
                        <mat-option *ngFor="let i of lstUf" [value]="i" required (click)="buscarLocalidades()">
                            {{i}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 30%">
                    <input matInput type="text" placeholder="Localidade" [(ngModel)]="localidade" name="buscaLocalidade"
                        list="dlbuscaLocalidade">
                    <datalist id="dlbuscaLocalidade">
                        <option *ngFor="let option of lstCidades" [value]="option">
                    </datalist>
                </mat-form-field>
                <mat-form-field style="width: 18em">
                    <input matInput type="text" placeholder="Endereço" [(ngModel)]="endereco"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <button *ngIf="telaDesktop" mat-raised-button (click)="buscarCepPorEndereco()">
                    <mat-icon>search</mat-icon> Buscar Cep
                </button>
            </div>
            <div *ngIf="!telaDesktop" fxLayoutAlign="center center">
                <div>
                    <mat-form-field style="width: 98%">
                        <input matInput type="text" placeholder="Endereço" [(ngModel)]="endereco" required
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 98%">
                        <input matInput type="text" placeholder="Localidade" [(ngModel)]="localidade"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 98%">
                        <mat-label>Uf</mat-label>
                        <mat-select [(ngModel)]="uf" [ngModelOptions]="{standalone: true}">
                            <mat-option value="">Selecione</mat-option>
                            <mat-option *ngFor="let i of lstUf" [value]="i">
                                {{i}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <a *ngIf="!telaDesktop" mat-mini-fab aria-label="teste" (click)="buscarCepPorEndereco()"
                    style="margin-left: 40%;">
                    <mat-icon>search</mat-icon>
                </a>
            </div>

        </form>

        <!-- tabela de cep versão desktop-->
        <mat-radio-group *ngIf="lstEnderecos.length > 0" [(ngModel)]="endereco_selecionado" required
            [ngModelOptions]="{standalone: true}">
            <table class="tabela_endereco" *ngIf="telaDesktop">
                <thead>
                    <tr>
                        <th style="width: 1.1em" align="left" valign="bottom">
                            <!-- checkbox -->
                        </th>

                        <th style="width: 5.5em;" align="left" valign="bottom">
                            CEP
                        </th>
                        <th style="width: 2em;" align="left" valign="bottom">
                            UF
                        </th>
                        <th style="width: 8em;" align="left" valign="bottom">
                            Cidade
                        </th>
                        <th style="width: 8em;" align="left" valign="bottom">
                            Bairro
                        </th>
                        <th style="width: 15em;" align="left" valign="bottom">
                            Lougradouro
                        </th>
                        <th style="width: 10vw;" align="left" valign="bottom">
                            Complemento
                        </th>
                    </tr>
                </thead>
                <tbody class="destaquelinha">
                    <ng-container *ngFor="let i of lstEnderecos; let idx = index">
                        <tr>
                            <td>
                                <mat-radio-button type="radio" name="chkIndice" value="{{idx}}">

                                </mat-radio-button>
                            </td>
                            <td>
                                {{formatarEndereco.cep_formata(i.Cep)}}
                            </td>
                            <td>
                                {{i.Uf}}
                            </td>
                            <td>
                                {{i.Cidade}}
                            </td>
                            <td>
                                {{i.Bairro}}
                            </td>
                            <td>
                                {{i.Endereco}}
                            </td>
                            <td>
                                {{i.LogradouroComplemento}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </mat-radio-group>
        <!-- versão celular -->
        <div *ngIf="!telaDesktop" style="display: block; padding-top: 1em;">
            <div *ngFor="let i of lstEnderecos; let idx = index" class="caixacel">
                <!-- sempre uma linha inteira -->
                <div style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    <mat-radio-button *ngIf="!telaDesktop" type="radio" name="chkIndice" value="{{idx}}">

                    </mat-radio-button>

                </div>
                <div style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    {{formatarEndereco.cep_formata(i.Cep)}} |

                </div>
                <div style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    {{i.Uf}} |
                </div>
                <div style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    {{i.Cidade}} |
                </div>
                <div style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    {{i.Bairro}} |
                </div>
                <div style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    {{i.Endereco}}
                </div>
                <div *ngIf="i.LogradouroComplemento != ''"
                    style="cursor: pointer; padding-bottom: 1em; text-align: center; display: inline">
                    | {{i.LogradouroComplemento}}
                </div>
            </div>
        </div>
    </article>
    <footer *ngIf="lstEnderecos.length > 0" mat-dialog-actions style="justify-content: space-around;">
        <button mat-raised-button (click)="onOkClick()" color="accent">
            Modificar
        </button>
        <button mat-raised-button (click)="onNoClick()" cdkFocusInitial color="accent">Cancelar</button>
    </footer>
</section>