.collapsible a {
    color: white;
}

.collapsible-header {
    color: white !important;
}

.sidenav .collapsible-body {
    margin-left: 10%;
    background-color: #808080;
}

    .sidenav .collapsible-body label li {
        color: green;
    }



.navbar nav {
    background-color: #808080;
    box-shadow: none !important;
}

.sidenav {
    margin-top: 3.5%;
    background-color: #808080;
    box-shadow: none !important;
}

.corpo {
    margin-top: 1%;
    margin-left: 20%;
    max-width: 78%;
    line-height: normal;
}
.corpologin {
    line-height: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: unset;
}

label {
    margin-top: inherit !important;
}

.input-field {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 1.5rem !important;
}

.row .col {
    padding-bottom: 1rem !important;    
}

#collapsible-body {
    padding: 1rem !important;
}

.collapsible-body .row {
    margin-bottom: 0px !important;
    padding-top: inherit !important;
}
