.collapsible a {
    color: white;
}

.collapsible-header {
    color: white !important;
}

.sidenav .collapsible-body {
    margin-left: 10%;
    background-color: #808080;
}

    .sidenav .collapsible-body label li {
        color: green;
    }



.navbar nav {
    background-color: #808080;
    box-shadow: none !important;
}

.sidenav {
    background-color: #808080;
    box-shadow: none !important;
}

.menuhome {
    height: 64px;
}

.alturaheader {
    height: 64px;
    max-height: 64px;
    margin-top: 0px;
    margin-left: -300px;
}

.corpo {
    line-height: normal;
}

header, main, footer {
    padding-left: 338px;
    padding-right: 38px;
}

.divcabecalho {
    padding-right: 38px;
}

@media only screen and (max-width : 992px) {
    main, footer {
        padding-left: 38px;
    }

    header {
        padding-left: 0px;
    }
}

@media only screen and (max-width : 992px) {
    .alturaheader {
        margin-left: 0px;
    }
}

/*destaque em tabelas*/
table.destaquelincol {
    overflow: hidden
}

    table.destaquelincol > tbody > tr > td {
        position: relative
    }

    table.destaquelincol > tbody > tr:hover {
        background-color: #f6f6f6 !important
    }

.destaquelincol
/*label {
    margin-top: inherit !important;
}*/
.input-field {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 2.0rem !important;
}

.row .col {
    padding-bottom: 1rem !important;
}

#collapsible-body {
    padding: 1rem !important;
}

.collapsible-body .row {
    margin-bottom: 0px !important;
    padding-top: inherit !important;
}
