@model Loja.UI.Models.Pedido.PedidoViewModel
@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Pedido</h5>

<h6>Tela em construção!</h6>


<div class="row">
    <div class="col s12">
        <span class="caixa">
            <span class="rotulo">Pedido criado com sucesso:</span>
            <span class="dado" name="nome" id="nome"> @Model.PedidoDto.NumeroPedido</span>
        </span>
    </div>
</div>


<style>
    .caixa {
        display: inline-block;
        padding: 0.5em;
        padding-left: 0em;
    }

        .caixa .rotulo {
            display: inline;
            font-weight: bold;
            opacity: 0.9;
            padding-right: 0.5em;
        }

        .caixa .dado {
            display: inline;
            padding-right: 1.0em;
        }
</style>

