:host{
    .corpohome
    {
        text-align:center;
        padding: 2em;
    }

    .container
    {
        text-align: center;
    }

    .campoTexto{
        height: 3em;
        line-height: 1em;
        padding: 1em;
    }
 
    .divCampos
    {
        margin:.5rem;
    }


}