<div flex fxLayout="column" style="text-align: center">
    <div fxFlex="50">asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd </div>
    <div fxFlex="33">asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd </div>
    <div fxFlex="17">asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd
        asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd
        asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd
        asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd
        asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd asdasdasdasd </div>
</div>