@model Loja.Bll.Bll.AcessoBll.UsuarioLogado
@{
    var usuarioLogado = Model;
}

@*<script>
        $(".mobile-options").click(function () {
            if ($(".nav-right").css('display') == "none") {
                $(".nav-right").css('display', 'inline-block');
            }
            else {
                $(".nav-right").css('display', 'none');
            }
        });
    </script>*@

@if (usuarioLogado.SessaoAtiva)
{


    //deixamos ocultando em tela pequena
    

        @* fazer aqui o avatar *@
    <div id="teste" class="col-md-2 p-0" style="float:right; width:auto">
        <div class="user-profile header-notification text-center px-0" data-toggle="tooltip" data-placement="top"
             title="" id="menu-usuario">

            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span class="avatar avatar-48 img-circle p-2" id="avatar"></span>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="#!">
                            <i class="fa fa-lock"></i> Alterar senha
                        </a>
                    </li>
                    <li>
                        <a href="~/Acesso/Logout" data-toggle="tooltip" data-placement="bottom" title="Sair" style="vertical-align: text-bottom;">
                            <i class="feather icon-log-out" style="font-size:large"></i> Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
}
else
{
    //não temos botão de login pq já está na pagina de login -
    //mas precisa para outras páginas, que eventualemte não tenham a proteção, como a home
    if (!(ViewBag.PaginaDeLogin ?? false))
    {
        <div class="right" style="margin-right: 10px">
            <a href="~/Acesso/Login" class="btn">Login</a>
        </div>
    }
}
<script>
    var usuarioLogado = JSON.parse(@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Json.Serialize(Model.Usuario_nome_atual).ToString(), true)))

    $(document).ready(function () {
        $('#cabecacomboLojas').change(function () {
            document.location = "@Url.Action("Index", "Home")/?novaloja=" + $('#cabecacomboLojas').val();
        });
    });

    requirejs(["Views/Shared/Cabecalho"], function (util) {

    });
</script>
