@*@model ErrorViewModel*@
@{
    ViewData["Title"] = "Error";
}

<div id="modalErro" class="modal">
    <div class="modal-content">
        <p id="teste" style="font-size:15px;color:black;white-space:initial;line-height:initial;"></p>
    </div>
    <div class="modal-footer">
        <button type="button" href="#!" class="modal-close waves-effect waves-green btn">OK</button>
    </div>
</div>

<script>
    var ErrorModalTeste;

    function modalError() {
        let modal = "#modalErro";
        let Modalelem = document.querySelector(modal);
        let instanceModal = M.Modal.init(Modalelem);
        instanceModal.open();
    };
</script>
<style>
    #modalErro{
        width:30% !important;
        white-space:nowrap;
    }
</style>
