<!-- [ngClass]="{'carregando': prepedidoBuscarService.carregando || pedidoBuscarService.carregando}" -->
<section class="contgrande"
    [class]="telaDesktop? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
    <header id="header">
        <div class="titulopagina"> Detalhes do Cliente {{cpfcnpj}}</div>
    </header>

    <article id="content">
        <app-cliente-corpo [cpfcnpj]="cpfcnpj"></app-cliente-corpo>
    </article>
    <footer>
        <button mat-raised-button color="accent" (click)="voltar()">
            <mat-icon>arrow_back</mat-icon> Voltar
        </button>
    </footer>
</section>