<header>
  <a mat-button color="accent" [routerLink]="['']" title="Home">

    <div class="limiteclicavel">
      <span *ngIf="telaDesktop">
        <span style="float: left"><img src="../assets/logo_arclube.png" height="30"
            style="padding-top: 10px; padding-left: 10px;" /></span>
        <span style="float:none; text-align:center; color: black; vertical-align: center;">
          &nbsp;&nbsp;&nbsp;
          CENTRAL DE PEDIDOS
        </span>
      </span>
      <img *ngIf="!telaDesktop" src="../assets/logo_arclube.png" height="30"
        style="padding-top: 10px; padding-left: 10px;" />

      <span style="float: right">
        <!-- <button *ngIf="(usuario$ | async).estaLogado" class='px-0' type="submit" (click)="logout()" mat-button -->
        <button class='px-0' type="submit" (click)="logout()" mat-button style="padding: 0%" title="Logout">
          <mat-icon color="accent">exit_to_app</mat-icon>
        </button>
      </span>
    </div>
  </a>
</header>
<router-outlet></router-outlet>