:host{
    header
    {
        margin: 0;
        border: 0;
        padding: 0;
        width: 100vw;
        text-align: center;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: green;
        background-color: #f0fff0
        }
    header a
    {
        padding: 0;
        margin: 0;
        border: 0;
    }

    .limiteclicavel
    {
        max-width: 100vw;
        width: 500px;
    }
}