@model Loja.UI.Models.Cliente.ClienteCadastroViewModel
<!--#region Radio Tipo entrega PF ou PJ-->
<div class="row pt-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <label id="rb_endEntrega_pf">
            <input class='check'
                   type='radio'
                   id="EndEntregaTipoPF"
                   value='PF'
                   name="EndEntrega.EndEtg_tipo_pessoa"
                   onclick="TipoPessoaEntrega($(this))" />
            <span>Pessoa Física</span>
        </label>
        &nbsp;
        <label id="rb_endEntrega_pj">
            <input class='check'
                   type='radio'
                   id="EndEntregaTipoPJ"
                   value='PJ'
                   name="EndEntrega.EndEtg_tipo_pessoa"
                   onclick="TipoPessoaEntrega($(this))" />
            <span>Pessoa Jurídica</span>
        </label>
    </div>
</div>
<!--#endregion-->
<!--#region Tipo Entrega PF-->
<div class="row" id="divEntregaPF" style="display:none">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <label class="col-form-label" for="endEntregaNome">Nome</label>
        <input type="text" class="form-control" id="endEntregaNome" name="EndEntrega.EndEtg_nome" />
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <label class="col-form-label" for="endEntregaCPF">CPF</label>
        <input type="text" class="form-control" id="endEntregaCPF" name="EndEntrega.EndEtg_cnpj_cpf" />

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <label class="col-form-label" for="endEntregaTelRes">Fone Residencial</label>
        <input type="text"
               class="form-control"
               id="endEntregaTelRes"
               name="EndEntrega.EndEtg_tel_res"
               onkeyup="IncluirMascara($(this))" />

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <label class="col-form-label" for="endEntregaCel">Celular</label>
        <input type="text"
               class="form-control"
               id="endEntregaCel"
               name="EndEntrega.EndEtg_tel_cel"
               onkeyup="IncluirMascara($(this))" />

    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <label class="col-form-label">PRODUTOR RURAL</label>
        <select asp-for="EndEntrega.EndEtg_produtor_rural_status" asp-items="Model.LstProdutoRural"
                class="custom-select"
                id="endEntregaProdutor">
        </select>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <label class="col-form-label">CONTRIBUINTE ICMS</label>
        <select asp-for="EndEntrega.EndEtg_contribuinte_icms_status" asp-items="Model.LstContribuinte"
                class="custom-select"
                id="endEntregaContribuinte">
        </select>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" id="ehProdutorEntrega">
        <label id="lblIe" for="endEntregaIE">IE</label>
        <input class="form-control" name="EndEntrega.EndEtg_ie" id="endEntregaIE" type="text" />
    </div>
</div>
<!--#endregion-->
<!--#region Tipo Entrega PJ-->
<div class="row" id="divEntregaPJ" style="display:none">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <label class="col-form-label" for="endEntregaRazao">Razão Social</label>
        <input type="text" class="form-control" id="endEntregaRazao" name="EndEntrega.EndEtg_nome" />
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <label class="col-form-label" for="endEntregaCNPJ">CNPJ</label>
        <input type="text" class="form-control" id="endEntregaCNPJ" name="EndEntrega.EndEtg_cnpj_cpf" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8">
        <label class="col-form-label" for="endEntregaTelCom1">Telefone Com 1</label>
        <input type="text" class="form-control" id="endEntregaTelCom1" name="EndEntrega.EndEtg_tel_com" onkeyup="IncluirMascara($(this))" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
        <label class="col-form-label" for="endEntregaRamal1">Ramal</label>
        <input type="text" class="form-control" id="endEntregaRamal1" name="EndEntrega.EndEtg_ramal_com" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8">
        <label class="col-form-label" for="endEntregaTelCom2">Telefone Com 2</label>
        <input type="text" class="form-control" id="endEntregaTelCom2" name="EndEntrega.EndEtg_tel_com_2" onkeyup="IncluirMascara($(this))" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4">
        <label class="col-form-label" for="endEntregaRamal2">Ramal</label>
        <input type="text" class="form-control" id="endEntregaRamal2" name="EndEntrega.EndEtg_ramal_com_2" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <label class="col-form-label">CONTRIBUINTE ICMS</label>
        <select asp-for="EndEntrega.EndEtg_contribuinte_icms_status" asp-items="Model.LstContribuinte"
                class="custom-select" id="endEntregaContribuinte">
        </select>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" id="ehProdutorEntrega">
        <label id="lblIe" for="endEntregaIE">IE</label>
        <input class="form-control" name="EndEntrega.EndEtg_ie" id="endEntregaIE" type="text" />
    </div>
</div>
<!--#endregion-->