@import "../../../variaveis.scss";

.corpohome {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  height: 100%;
  text-align: center;
  min-height: 80vh;
}
.botaoTela {
  text-align: center;
  //width: calc(100% - 3em);
  width: 200px;
  margin-top: 15px;
}
.spanTela {
  flex: 1;
  flex-grow: 0.1;
  flex-shrink: 0.2;
  flex-basis: auto;
  align-items: center;
}

/*
    classes para aparecer bno menu da esquerda 
    */
.corpoMenu {
  height: 100%;
  background-color: $cor-fundo-menu;
}
.spanMenu {
  background-color: $cor-fundo-menu;
  border-bottom-color: $cor-borda-menu;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.botaoMenu {
  text-align: left;
  width: 100%;
  margin-top: 15px;
  font-size: small;
  color: $cor-botoes-menu-desktop;
}
