@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Loja.UI.Models.Cep.CepViewModel

<div class="row container_cep" style="align-items:flex-end">
    <div class="col-xl-3 col-md-3 col-sm-6">
        <label class="col-form-label" for="cepEntrega" id="lblcep">CEP</label>
        <input class="form-control" name="EndEntrega.EndEtg_cep" type="text" id="cepEntrega" onblur="buscarCep($(this))" />
    </div>
    <button class="btn btn-sm btn-primary waves-effect waves-light col-xl-2 col-md-3 col-sm-6"
            type="button" data-toggle="modal" data-target="#modal1" value="2" onclick="NaoSeiCep($(this));">
        <i class="fa fa-search"></i>Não sei o CEP
    </button>
    <div class="col-xl-5 col-md-6 col-sm-12">
        <label class="col-form-label" id="lblEnderecoEntrega" for="endEntrega">ENDEREÇO </label>
        <input class="form-control" name="EndEntrega.EndEtg_endereco" id="enderecoEntrega" type="text" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
        <label class="col-form-label" id="lblNumeroEntrega" for="numEntrega">NÚMERO </label>
        <input class="form-control" name="EndEntrega.EndEtg_endereco_numero" id="numEntrega" type="text" />
    </div>
    <div class="col-xl-6 col-lg-5 col-md-5 col-sm-9">
        <label class="col-form-label" id="lblComplementoEntrega" for="compEntrega">COMPLEMENTO</label>
        <input class="form-control" name="EndEntrega.EndEtg_endereco_complemento" id="compEntrega" type="text" />
    </div>
    <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12">
        <label class="col-form-label" id="lblBairroEntrega" for="bairroEntrega">BAIRRO</label>
        <input class="form-control" name="EndEntrega.EndEtg_bairro" id="bairroEntrega" type="text" />
    </div>
</div>
<div class="row container_cep">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <label class="col-form-label" id="lblCidadeEntrega" for="cidadeEntrega">CIDADE</label>
        <input class="form-control" name="EndEntrega.EndEtg_cidade" id="cidadeEntrega" type="text" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <label class="col-form-label" id="lblUfEntrega" for="ufEntrega">UF</label>
        <input class="form-control" name="EndEntrega.EndEtg_uf" id="ufEntrega" type="text" />
    </div>
</div>

<script>
    var lstIBGE_Entrega1;
    var tipoClienteEntrega;
    requirejs(["Views/Cep/Index"], function () {
    });
</script>

