<section [ngClass]="{'sectionDesktop': telaDesktop, 'sectionCelular': !telaDesktop}">
    <form style="display: contents;" (keydown.enter)="continuar()">
        <header>
            Confirmar Cliente
        </header>
        <article>
            <app-cliente-corpo [dadosClienteCadastroDto]="dadosClienteCadastroDto" [cadastrando]="false"
                [clienteCadastroDto]="clienteCadastroDto" [editarIcms]="true" *ngIf="fase1">
            </app-cliente-corpo>
            <app-confirmar-endereco [dadosClienteCadastroDto]="dadosClienteCadastroDto"
                [mostrarEndereco]="!fase1e2juntas" *ngIf="fase2"
                [enderecoEntregaDtoClienteCadastro]="enderecoEntregaDtoClienteCadastro">
            </app-confirmar-endereco>
        </article>
        <footer>
            <a mat-raised-button color="accent" (click)="voltar()">
                <mat-icon>arrow_back</mat-icon> Voltar
            </a>
            <!-- nao temos o botão salvar porque ele salva automaticamente
        <button mat-raised-button color="accent" (click)="salvar(false)" [disabled]="!salvarAtivo()" >
            <mat-icon>save</mat-icon> Salvar
        </button> -->
            <button mat-raised-button color="accent" (click)="continuar()" type="submit" autofocus id="idcontinuar">
                <mat-icon>arrow_forward</mat-icon> Avançar
            </button>
        </footer>
    </form>
</section>