<div class="corpohome" layout="row" layout-align="center center">
    <span class="spanMenu">
    </span>
    <span class="spanMenu">
        <a color="accent" class="botaoMenu" mat-raised-button [routerLink]="['/erro']">Incluir Pré Pedido </a>
    </span>
    <span class="spanMenu">
        >>Somente o abaixo funcionando!
        <br>
        <a color="accent" class="botaoMenu" mat-raised-button [routerLink]="['/prepedido/consulta']">Consultar Pré Pedidos </a>
    </span>
    <span class="spanMenu">
        <a color="accent" class="botaoMenu" mat-raised-button [routerLink]="['/erro']">Consultar Pedidos</a>
    </span>
</div>