<!-- no destop só aparecfe se for o menu
no celular aparece sempre -->
<div *ngIf="menuDesktop || !telaDesktop">

    <div [class]="menuDesktop? 'corpoMenu': 'corpohome'" layout="row" fxLayoutAlign="center center">
        <div style="flex-grow: 0.4" *ngIf="!menuDesktop">
        </div>
        <div [class]="menuDesktop? 'spanMenu': 'spanTela'">
            <a *ngIf="!menuDesktop" color="accent" class="botaoTela" mat-raised-button
                [routerLink]="['/novo-prepedido']" (click)="cliqueNovoPrepedido()"> Incluir Pré-Pedido </a>
            <a *ngIf="menuDesktop" color="accent" class="botaoMenu" mat-button [routerLink]="['/novo-prepedido']"
                (click)="cliqueNovoPrepedido()"> Incluir Pré-Pedido </a>
        </div>
        <div [class]="menuDesktop? 'spanMenu': 'spanTela'">
            <a *ngIf="!menuDesktop" color="accent" class="botaoTela" mat-raised-button
                [routerLink]="['/prepedido/consulta']"> Consultar Pré-Pedidos </a>
            <a *ngIf="menuDesktop" color="accent" class="botaoMenu" mat-button [routerLink]="['/prepedido/consulta']">
                Consultar Pré-Pedidos </a>
        </div>
        <div [class]="menuDesktop? 'spanMenu': 'spanTela'">
            <a *ngIf="!menuDesktop" color="accent" class="botaoTela" mat-raised-button
                [routerLink]="['/pedido/consulta']"> Consultar
                Pedidos </a>
            <a *ngIf="menuDesktop" color="accent" class="botaoMenu" mat-button [routerLink]="['/pedido/consulta']">
                Consultar
                Pedidos </a>
        </div>
        <div style="flex-grow: 0.5" *ngIf="!menuDesktop">
        </div>
    </div>
</div>
<!-- teste -->
<div *ngIf="telaDesktop" [class]="menuDesktop? 'spaMenu':'spaTela'">
    <div id="imgFundo" *ngIf="!menuDesktop" [class]="menuDesktop? 'corpoMenu': 'corpohome'"
        [style.background-image]="BuscarImgFundo()" style="background-repeat:no-repeat"
        [style.height]="buscarAlturaImg()" [style.background-size]="buscarTamanhoImg()">
        <!--  style="background-image: url('/assets/background-unis-filtro-branco80.jpg'); 
    background-size:100% 100%; height: calc(100vh - 53px);" -->
        <!-- <div *ngIf="!menuDesktop" >Teste</div> -->
        <h1 style="margin-top:25%;">Seja bem vindo!</h1>
        <span>Para incluir ou consultar pedidos utilize o menu lateral.</span>

    </div>
</div>
<!-- <div style="background-image: url('/assets/background-unis-filtro-branco80.jpg'); 
background-size:100% 100%;">
teste</div> -->