
$cor-fundo-menu: #f0f0f0;
$cor-borda-menu: grey;
$cor-botoes-menu-desktop: #000000;
$cor-fundo-listapedidos: #f0fff0;
$cor-fundo-listapedido-destaque: #e8f0e8; //usado na lista de produtos, destaca a posição do mouse
$cor-verde-icones: #42c04d;

$altura-cabecalho: 50px;
$altura-cabecalho-mais3: 53px;
$altura-cabecalho-mais4: 54px;

