<div  [ngClass]="{'carregando': prepedidoBuscaService.carregando || pedidoBuscaService.carregando}">
<div *ngIf="telaDesktop && emPrepedidos"
    [class]="telaDesktop? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
    <div style="float: right; padding-right: 2em; padding-bottom: 0.5em;" >
        Pré-pedidos localizados: {{(prepedidos$|async)?.length}}
    </div>

    <table mat-table matSort [dataSource]="prepedidos$|async" class="mat-elevation-z1 tabeladesktop">

        <ng-container matColumnDef="DataPrepedido">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{dataFormatarTela(element.DataPrePedido)}} </td>
        </ng-container>

        <ng-container matColumnDef="NumeroPrepedido">
            <th mat-sort-header="NumeroPrepedido" mat-header-cell *matHeaderCellDef> Número </th>
            <td mat-cell *matCellDef="let element"> {{element.NumeroPrepedido}} </td>
        </ng-container>

        <ng-container matColumnDef="NomeCliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.NomeCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>

        <ng-container matColumnDef="ValoTotal">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{moedaUtils.formatarMoeda(element.ValoTotal)}} </td>
        </ng-container>

        <ng-container matColumnDef="Remover">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"><button *ngIf="!(element.Status.indexOf('com pedido') == -1)" mat-button 
                    (click)="removerPrepedido(element.NumeroPrepedido)"><mat-icon title="Remover pré-pedido">delete</mat-icon></button></td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div *ngIf="telaDesktop && !emPrepedidos"
    [class]="telaDesktop? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
    <div style="float: right; padding-right: 2em; padding-bottom: 0.5em;">
        Pedidos localizados: {{(pedidos$|async)?.length}}
    </div>

    <table mat-table matSort [dataSource]="pedidos$|async" class="mat-elevation-z1 tabeladesktop">

        <ng-container matColumnDef="DataPedido">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{dataFormatarTela(element.DataPedido)}} </td>
        </ng-container>

        <ng-container matColumnDef="NumeroPedido">
            <th mat-sort-header="NumeroPedido" mat-header-cell *matHeaderCellDef> Número </th>
            <td mat-cell *matCellDef="let element"> {{element.NumeroPedido}} </td>
        </ng-container>

        <ng-container matColumnDef="NomeCliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.NomeCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>

        <ng-container matColumnDef="ValoTotal">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{moedaUtils.formatarMoeda(element.ValorTotal)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPedido"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPedido;"></tr>
    </table>
</div>



<div *ngIf="!telaDesktop && emPrepedidos"
    [class]="telaDesktop? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
    <div style="float: left;">
        Pré-pedidos localizados: {{(prepedidos$|async)?.length}}
    </div>
    <button mat-raised-button color="accent" *ngIf="!telaDesktop" (click)="voltar()" style="float: right; ">Nova
        busca</button>
    <br>
    <br>
    <br>

    <mat-card *ngFor="let option of prepedidos$|async" class="cartao">
        <div class="containercel">
            <div class=".cellinha">
                <div class="celcol1">
                    Data: </div>
                <div class="celcol2">
                    {{dataFormatarTela(option.DataPrePedido)}}
                </div>
                <span style="float: right"><button *ngIf="(option.Status.toLowerCase().indexOf('com pedido') == -1)" 
                    mat-button (click)="removerPrepedido(option.NumeroPrepedido)"><mat-icon title="Remover pré-pedido" class="mat-column-Remover">delete</mat-icon></button></span>
            </div>
            <div class=".cellinha">
                <div class="celcol1">
                    Núm: </div>
                <div class="celcol2">
                    {{option.NumeroPrepedido}}
                </div>
                <div class=".cellinha">
                    <div class="celcol1">
                        Cliente:
                    </div>
                    <div class="celcol2">
                        {{option.NomeCliente}}
                    </div>
                </div>
                <div class=".cellinha">
                    <div class="celcol1">
                        Status:
                    </div>
                    <div class="celcol2">
                        {{option.Status}}
                    </div>
                </div>
                <div class=".cellinha">
                    <div class="celcol1">
                        Valor:
                    </div>
                    <div class="celcol2">
                        {{moedaUtils.formatarMoeda(option.ValoTotal)}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>


<div *ngIf="!telaDesktop && !emPrepedidos"
    [class]="telaDesktop? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
    <div style="float: left;">
        Pedidos localizados: {{(pedidos$|async)?.length}}
    </div>
    <button mat-raised-button color="accent" *ngIf="!telaDesktop" (click)="voltar()" style="float: right; ">Nova
        busca</button>
    <br>
    <br>
    <br>

    <mat-card *ngFor="let option of pedidos$|async" class="cartao">
        <div class="containercel">
            <div class=".cellinha">
                <div class="celcol1">
                    Data: </div>
                <div class="celcol2">
                    {{dataFormatarTela(option.DataPedido)}}
                </div>
            </div>
            <div class=".cellinha">
                <div class="celcol1">
                    Núm: </div>
                <div class="celcol2">
                    {{option.NumeroPedido}}
                </div>
                <div class=".cellinha">
                    <div class="celcol1">
                        Cliente:
                    </div>
                    <div class="celcol2">
                        {{option.NomeCliente}}
                    </div>
                </div>
                <div class=".cellinha">
                    <div class="celcol1">
                        Status:
                    </div>
                    <div class="celcol2">
                        {{option.Status}}
                    </div>
                </div>
                <div class=".cellinha">
                    <div class="celcol1">
                        Valor:
                    </div>
                    <div class="celcol2">
                        {{moedaUtils.formatarMoeda(option.ValorTotal)}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
</div>