@model Loja.UI.Models.Comuns.ListaLojasViewModel
@*
    select para escolher a loja a usar
*@

@if (Model.ConsultaUniversalPedidoOrcamento)
{
    <div class="d-inline">
        <div class="form-group mb-0" style="display:inline-block; float:right">
            <label class="col-form-label">Filtrar por loja:</label>
            @{
                var lista = Model.LojasDisponiveis.OrderBy(r => r.Nome).ToList();
                var listaSl = new List<SelectListItem>();
                if (Model.ItensLoja != null)
                {
                    int numero = Model.ItensLoja.Select(r => r.NumeroItens).Sum();
                    listaSl.Add(new SelectListItem($"Todas ({numero} itens)", ""));
                }
                else
                {
                    listaSl.Add(new SelectListItem("Todas", ""));
                }

                foreach (var item in lista)
                {
                    string texto = item.Nome;
                    if (Model.ItensLoja != null)
                    {
                        var numero = Model.ItensLoja.Where(r2 => r2.Loja == item.Id).FirstOrDefault()?.NumeroItens ?? 0;
                        texto = $"{texto} ({numero} itens)";
                    }
                    listaSl.Add(new SelectListItem(texto, item.Nome));
                }
            }
            @Html.DropDownList("comboLojas", listaSl, new { @id = "comboLojas", @class = "custom-select col-md-8 col-sm-8" })
        </div>
    </div>
    

    <style>
        #comboLojas{
            float:right !important;
        }
    </style>

    @if (Model.NumeroColunaDaLoja >= 0)
    {
        <script>
        $("#comboLojas").change(function() {
            var regExSearch = $("#comboLojas").val();
            if (regExSearch != "")
                regExSearch = '^\\s*' + $.fn.dataTable.util.escapeRegex($("#comboLojas").val()) + '\\s*$';
            $('#@Model.NomeTabelaHtml').DataTable().columns(@Model.NumeroColunaDaLoja).search(regExSearch, true, false, false).draw();
            });
        </script>
    }
}
